<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="https://root-crown-817.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F9896bb2e-d7f9-41ac-a4e6-5f9ac2d2f652%2FWCY%E7%9A%84%E4%B8%AA%E4%BA%BAlogo.png?id=e714d3e8-f158-486c-87e0-baa42b87f805&table=block&spaceId=05a1b89d-ff84-4035-bdc6-863a0fae0b47&width=2000&userId=&cache=v2" >

<!-- end custom head snippets -->
