<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

<!--网站图标显示方法-->
    <link rel="icon" href="https://s3-us-west-2.amazonaws.com/secure.notion-static.com/9896bb2e-d7f9-41ac-a4e6-5f9ac2d2f652/WCY%E7%9A%84%E4%B8%AA%E4%BA%BAlogo.png" sizes="16x16 32x32">
    <link rel="shortcut icon" href="https://root-crown-817.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F9896bb2e-d7f9-41ac-a4e6-5f9ac2d2f652%2FWCY%E7%9A%84%E4%B8%AA%E4%BA%BAlogo.png?id=e714d3e8-f158-486c-87e0-baa42b87f805&table=block&spaceId=05a1b89d-ff84-4035-bdc6-863a0fae0b47&width=2000&userId=&cache=v2">
    <link rel="bookmark" href="https://root-crown-817.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F9896bb2e-d7f9-41ac-a4e6-5f9ac2d2f652%2FWCY%E7%9A%84%E4%B8%AA%E4%BA%BAlogo.png?id=e714d3e8-f158-486c-87e0-baa42b87f805&table=block&spaceId=05a1b89d-ff84-4035-bdc6-863a0fae0b47&width=2000&userId=&cache=v2">
    <link rel="icon" href="https://root-crown-817.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F9896bb2e-d7f9-41ac-a4e6-5f9ac2d2f652%2FWCY%E7%9A%84%E4%B8%AA%E4%BA%BAlogo.png?id=e714d3e8-f158-486c-87e0-baa42b87f805&table=block&spaceId=05a1b89d-ff84-4035-bdc6-863a0fae0b47&width=2000&userId=&cache=v2" type="image/x-icon" />
    <!--Safari图标显示方法-->
    <link rel="apple-touch-icon" href="https://s3-us-west-2.amazonaws.com/secure.notion-static.com/9896bb2e-d7f9-41ac-a4e6-5f9ac2d2f652/WCY%E7%9A%84%E4%B8%AA%E4%BA%BAlogo.png" sizes="180x180">    
    
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="http://wangcy.tk/wall" class="btn">主页</a>
        <a href="http://wangcy.tk/wall/assets/Android" class="btn">安卓 | 鸿蒙</a>
        <a href="http://wangcy.tk/wall/assets/Windows" class="btn">Win | 微软</a>
        <a href="http://wangcy.tk/wall/assets/Apple" class="btn">Apple | 苹果</a>
        <a href="http://wangcy.tk/wall/assets/other" class="btn">其他平台</a>
        <a href="https://wangcy.tk/wall/%E8%B5%84%E6%BA%90/content/content" class="btn">资源下载</a>
        <a href="http://wangcy.tk/wall/assets/doc" class="btn">文档</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="#" class="btn">空位</a>
        <a href="#" class="btn">空位</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <!--footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="https://github.com/wchenyi/wall">{{ site.github.repository_name }}</a>是有关于<a href="https:/github.com/wchenyi">{{ site.github.owner_name }}</a>编写的，关于收集科学上网工具和编写其他资源的站点.</span>
        {% endif %}
      </footer-->
    </main>
  </body>
</html>
